.admin-atm-details-con{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 2; 
    grid-row-end: 2; 
    height: 100%;
}

.detail-and-back{
    display: flex;
    flex-wrap: row;
}

.admin-atm-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color:  rgb(233, 235, 236);
    margin: 10px 0px;
    border-radius: 10px;
    gap: 10px;
    justify-content: space-between;
}

.back-and-details{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dots-icon{
    margin-right: 10px;
}


.dots-icon:hover{
    background-color:rgb(174, 174, 219); 
    padding: 10px;
    border-radius: 10px;
}

.back-icon{
    padding-left: 8px;
    padding-right: 8px;
}

.back-btn{
    border-radius: 10px 0px 0px 10px;
}

.back-btn :hover{
    background-color: rgb(174, 174, 219);
    color: white;
    height: 58px;
    border-radius: 10px 0px 0px 10px;
    border-right: 2px solid rgb(6, 6, 179);
}

.atm-details{
    font-size: 18px;
    font-weight: 700;
}

.dropdown-menu {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 20px; 
    top: 120px; 
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 5; 
  }

  .dropdown-item-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    color: black; 
    padding: 12px 0px; 
    border: none;
    width: 100%;
  }
  
  .dropdown-item-con:hover {
    background-color: #eae1e1;
  }
  
