.atmlist-con{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
  box-shadow: 1px 1px 1px rgb(188, 185, 185);
  border-radius: 10px;
  position: relative;
}

.atm-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.atm-id{
  font-size: 18px;
  font-weight: 500;
}

.contact-details{
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: rgb(206, 222, 231);
  padding: 10px;
  border-radius: 10px;
}

.inner-contact-details{
  margin-left: 10px;
}

.email, .location, .phone, .website{
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.list-dropdown-menu {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 25px;
  top: 20px;
  background-color: #f9f9f9; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 5; 
}

.list-dropdown-item-con{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  color: black; 
  padding: 12px 4px; 
  border: none;
  width: 100%;
  border-radius: 10px;
}

.list-dropdown-item-con:hover {
  background-color: rgb(206, 222, 231);;;
}

.icon{
  cursor: pointer;
}
