.admin-atm-list-con{
    display: flex;
    flex-direction: column;
    grid-column-start: 2; 
    grid-column-end: 6; 
    grid-row-start: 2; 
    grid-row-end: 2; 
  }
  
  .admin-atm-inner-con{
    display: flex;
    flex-direction: row;
    height: 100%;
  }

.atm-list-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color:   rgb(233, 235, 236);
    width: 100%;
    margin: 10px 10px;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: end;
}

.atmlists-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16vw, 1fr)); /* Stretch to fill available space */
    grid-gap: 1.5rem;
    width: 100%;
  }
  
   