.admin-atm-edits-con{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    height: 100%;
    overflow-y: auto;
}

.admin-atm-edits-form-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.custom-stepper-con{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color:rgb(233, 235, 236);
    border-radius: 10px;
    flex: 1;
    height: fit-content;
}

.custom-stepper-item{
    margin-left: 20px;
}

.stepper-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding: 10px;
    border-radius: 20px;
}

.stepper-item.active{
    background-color: rgb(112, 188, 226);
}

.stepper-item:hover{
    background-color: rgb(185, 214, 229);
}

.stepper-icon{
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: #2962ff;
}

.custom-stepper-item{
    color: #2962ff;
}
