.labeled-input-xl{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 30vw;
    align-items: flex-start;
    font-size: 15px;
    margin-bottom: 4px;
}

.label-input {
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
 .input-input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  /* Hover and focus styles */
  .input-input:hover,
  .input-input:focus {
    border-color: #888;
  }
  