.Logincontainer{
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 238, 238);
    width: 30vw;
    padding: 30px;
    box-shadow: lightblue 5px 5px 10px;
    border-radius: 20px;
}

.logo{
    max-height: 500px;
    max-width: 500px;
}

.loginform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}
.cross-btn{
    align-self: flex-end;
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
}

.logininputs{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-inline: 20px;
    outline: none;
    box-shadow: lightblue 5px 5px 10px;

}

.loginbutton{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-inline: 20px;
    outline: none;
    background-color: blue;
    color: white;
    box-shadow: lightblue 5px 5px 10px;
    cursor: pointer;
}

.error{
    color: brown;
}
