.map-container{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.atm-filter{
    width: 20vw;
}

.atm-heading{
    font-size: 1.2rem;
    font-weight: 800;
}

.atm-categories{
    border: 1px solid  #ccc;
    padding-left: 10px !important;
}

.map-div {
    width: "60vw";
    height: "40vh";
    background: blue;
}

@keyframes pulse {
    0% {
      transform: scale(1);
   }
    50% {
      transform: scale(1.2);
   }
    100% {
      transform: scale(1);
   }
  }
  
  .marker-hover {
   animation: pulse 1s infinite;
  }  

@media (max-width: 700px) {
    .map-container{
        display: flex;
        flex-direction: column;
    } 

    .map{
        width: "60vw";
        height: "40vw";
    }

    .atm-filter{
        width: 35vw;
    }
}

.google-map-con{
    position: relative;
    border: 5px solid black;
}

.current-location-icon{
    position: absolute;
    width: 32px;
    top: 64px;
    right: 10px;
    padding: 4px;
    background-color: white;
    border-radius: 2px;
}
