@keyframes growFromCenter {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes shrinkToCenter {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .notice-con {
    position: absolute;
    top: 30px;
    left: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    z-index: 1000;
    border: 1px solid rgb(170, 165, 165);
    background-color: #521919;
    padding: 10px 10px;
    width: 30vw;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(107, 149, 228);
    animation-duration: 1s; /* Increased duration for slower animation */
    animation-fill-mode: forwards;
  }
  
  /* Entrance animation */
  .notice-con.show {
    animation-name: growFromCenter;
  }
  
  /* Exit animation */
  .notice-con.hide {
    animation-name: shrinkToCenter;
  }
  
  .message-icon {
    border-radius: 50%;
    padding: 4px;
    color: white;
  }
  
  .cdd {
    background-color: #da0909;
  }
  