.atm-register-con{
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: rgb(233, 235, 236);
    border-radius: 10px;
    height: 100%;
}

.register-page-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 50px;
}

.register-page-1-hd{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register-page-2-hd{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register-heading{
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.register-sub-heading{
    font-weight: 600;
    font-size: 16px;
}

.register-location-col{
    display: flex;
    flex-direction: column;
}

.register-location-row{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.register-service-info{
    display: flex;
    flex-direction: row;
    gap:8px;
}

.service-status{
    padding: 10px;
    background-color:  rgb(206, 222, 231);
    border-radius: 10px;
}

.service-status.active{
    background-color: rgb(112, 188, 226);;
}

.service-status:hover{
    background-color:  rgb(112, 188, 226);
}

.blank-none{
    display:block;
    width: 100%;

}

.register-button{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    gap: 14px;
}

.save-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
}

.inner-save-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 14px;
    width: 100%;
}

.register-cancel{
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #2962ff;
    color: #2962ff;
}

.register-next{
    padding: 14px 40px;
    border-radius: 8px;
    background-color: #2962ff;
    color: white;
    font-size: 15px;
}

.register-back{
    padding: 14px 40px;
    border-radius: 8px;
    border: 1px solid #2962ff;
    color: #2962ff;
    font-size: 15px;
}

.register-create{
    padding: 14px 40px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    background-color: #2962ff;
}

.register-cancel:hover{
    background-color: rgb(112, 188, 226);
    color: white;
}

.register-back:hover{
   background-color: rgb(112, 188, 226); 
   color: white;
}

.register-page-2{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    gap: 8px;
}

.show-map{
    display: flex;
    flex-direction: row;
}

.show-map-text{
    flex:3;
    display: flex;
    flex-direction: column;
}

.show-map-iframe{
    flex: 6;
}
